.App {
  text-align: center;
}

#loader-header-move {
  text-align: center;
  position: static;
  bottom: 230px;
}

html, body {
  height: 100%;
  background-image: linear-gradient(to top, #94b6eb, #86a8dc, #789acd, #6b8cbe, #5d7eb0);
}

.s2 {
  position: absolute;
  bottom: 60px;
}

.s1 {
  position: absolute;
  bottom: 60px;
}

.center {
  text-align: center;
}

.margin-5 {
  margin: 20px;
}

.padding-5 {
  padding: 20px;
}

#checkbox {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

#user-name {
  text-transform: capitalize;
  text-shadow: 0 0 6px #ffffff, 0 0 1px #ffffff;
}

.white-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.checkbox-form-button {
  margin: 40px;
  background: linear-gradient(to bottom, rgb(13, 145, 191) 0%, rgb(6, 80, 185) 100%);
  width: 200px;
  height: 45px;
  border-radius: 15px;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

.checkbox-form-button:hover {
    margin: 40px;
    background: white;
    border: rgb(6, 80, 185) 2px solid;
    color: rgb(6, 80, 185);
}

#cart-table {
  border: 2px solid black;
  position: relative;
  top: 20px;
  width: 450px;
  height: 450px;
  border-radius: 5px;
}

body {
  background-color: lightgray;
}

/* input.sign-up {
  width: 400px;
  height: 44px;
  margin: 5px;
} */

input.sign-up {
  width: 300px;
  height: 40px;
}

textarea.sign-up {
  width: 300px;
}

input.cost-field {
  width: 100px;
  height: 30px;
}


div.flex-test {
  justify-content: space-between;
}

.flex-container {
  justify-content: space-between;
}

.error input {
  border-color: red;
  box-shadow: 2px;
}

.error textarea {
  border-color: red;
  box-shadow: 2px;
}

.error textarea, .error select, .error .choice-option{
  background: #fff0f4;
  color: #c51244;
}

.error .validation{
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.error  .validation:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;
  top: -10px;
}
.label:after{
  color: #c51244 !important;
}
.error input, .error select, .error .choice-option{
  background: #fff0f4;
  color: #c51244;
}
.error input, .error select{
  border: 1px solid #c51244 !important;
}

p, h3, h4, button {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 20 px;
    line-height: 25px;
    color: white;
}

.delete-button {
  border-radius: 4px;
  background-color: rgb(13, 120, 181);
  border: rgba(256, 256, 256, 0.1) 1px solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 150px;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 30px;
  margin: 10px;
}

.move-left {
  position: relative;
  right: 15px;
}

.delete-button:hover {
  opacity: .7;
  border-color: black;
}

/* .delete-button:hover span {
    padding-right: 25px;
}

.delete-button:hover span:after {
    opacity: 1;
    right: 0;
} */
/*
.delete-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.delete-button-contain {
    text-align: center;
    padding: 40px;
} */

/* .delete-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
} */

/* .delete-button {
  border-radius: 4px;
  background-color: rgb(13, 194, 181);
  border: rgba(256, 256, 256, 0.1) 1px solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 50px;
  margin: 10px;
} */
