.App {
  text-align: center;
}

#loader-header-move {
  text-align: center;
  position: static;
  bottom: 230px;
}

.new-post-grid {
  display: grid;
  /* border: 2px black solid; */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr minmax(350px, 500px) 1fr;
  grid-gap: 5px;
}

#money {
  color: green;
}

/* .new-post {
  border: 1px solid red;

} */

.new-post.f {
  align-self: center;
}

/* .new-post.c {

} */

.image-upload-div {
  margin-left: 30px;
  margin-right: 30px;
}

.image-preview {
    width: 300px;
}



html, body {
  height: 100%;
  margin-top: 40px;
  background-image: linear-gradient(to top, #94b6eb, #86a8dc, #789acd, #6b8cbe, #5d7eb0);
}

.dropzone {


    border: 3px dashed white;
}
.previewCard {
    margin: 0;
    padding: 0;
}

.s2 {
  position: absolute;
  bottom: 60px;
}

.s1 {
  position: absolute;
  bottom: 60px;
}

.center {
  text-align: center;
}

.margin-5 {
  margin: 20px;
}

.padding-5 {
  padding: 20px;
}

#checkbox {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
}

#user-name {
  text-transform: capitalize;
  text-shadow: 0 0 6px #ffffff, 0 0 1px #ffffff;
}

.white-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.checkbox-form-button {
  margin: 40px;
  background: linear-gradient(to bottom, rgb(13, 145, 191) 0%, rgb(6, 80, 185) 100%);
  width: 200px;
  height: 45px;
  border-radius: 15px;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}

.checkbox-form-button:hover {
    margin: 40px;
    background: white;
    border: rgb(6, 80, 185) 2px solid;
    color: rgb(6, 80, 185);
}

#cart-table {
  border: 2px solid black;
  position: relative;

  width:auto;
  height: auto;
}


/* input.sign-up {
  width: 400px;
  height: 44px;
  margin: 5px;
} */

input.sign-up {
  width: 300px;
  height: 40px;
  /* width: 100%; */
}


/* .box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
} */

textarea.sign-up {
  width: 300px;
}

input.cost-field {
  width: 100px;
  height: 30px;
}


div.flex-test {
  justify-content: space-between;
}

.flex-container {
  justify-content: space-between;
}

.error input {
  border-color: red;
  box-shadow: 2px;
}

.error textarea {
  border-color: red;
  box-shadow: 2px;
}

.error textarea, .error select, .error .choice-option{
  background: #fff0f4;
  color: #c51244;
}

.error .validation{
  background: #c51244 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
}
.error  .validation:before{
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51244;
  position: absolute;
  top: -10px;
}
.label:after{
  color: #c51244 !important;
}
.error input, .error select, .error .choice-option{
  background: #fff0f4;
  color: #c51244;
}
.error input, .error select{
  border: 1px solid #c51244 !important;
}

 p, h3, h4, button {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 20 px;
    line-height: 25px;
    color: white;
}

.delete-button {
  border-radius: 4px;
  background-color: rgb(13, 120, 181);
  border: rgba(256, 256, 256, 0.1) 1px solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 150px;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 30px;
  margin: 10px;
}

.move-left {
  position: relative;
  right: 15px;
}

.delete-button:hover {
  opacity: .7;
  border-color: black;
}

/** IMAGE UPLOADING **/

h3 {
  margin-left: 15px;
}
/* .fileInput {
  border-bottom: 4px solid #d3d3d3;
  border-right: 4px solid #d3d3d3;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  height: 200px;
  width: 400px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 5px solid #808080;
  border-bottom: 5px solid #808080;
} */
.imgPreview img {
  width: 100%;
  height: 100%;
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: #fff;
  border: 4px solid #d3d3d3;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}
.submitButton:hover {
  background: #efefef;
}
.centerText {
  text-align: center;
  width: 500px;
}


/**
* REDUX LOGO
*/
.redux-logo {
  animation: redux-logo-spin infinite 20s linear;
  height: 180px;
  opacity: .4;
  z-index: -1;
}

.redux-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.redux-title {
  font-size: 1.5em;
}

.redux-intro {
  font-size: large;
}

@keyframes redux-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/**
* REACT LOGO
*/
.react-logo {
  animation: react-logo-spin infinite 20s linear;
  height: 180px;
  opacity: .4;
  z-index: -1;
}

.react-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.react-title {
  font-size: 1.5em;
}

.react-intro {
  font-size: large;
}

@keyframes react-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/**
* GRAPHQL LOGO
*/
.graphql-logo {
  animation: graphql-logo-spin infinite 20s linear;
  height: 180px;
  opacity: .4;
  z-index: -1;
}

.graphql-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.graphql-title {
  font-size: 1.5em;
}

.graphql-intro {
  font-size: large;
}

@keyframes graphql-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/** ITEM CARDS **/

.itemPreview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* border-radius: 10px; */
    /* border-radius: 0px 0px 0px 0px; */
}

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,969696+100&0+45,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(68,68,68,0) 45%, rgba(150,150,150,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(68,68,68,0) 45%,rgba(150,150,150,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(68,68,68,0) 45%,rgba(150,150,150,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6969696',GradientType=0 ); /* IE6-9 */
}


.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 100%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.item-preview {
    margin: 5px;
    margin-bottom: 25px;
    background-color: white;
}

#thumbnail-label {
  color: black;
}

#description {
  color: black !important;
}


@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }
    .cell {
        width: 50% - 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        width: calc((100% / 3) -2rem);
    }
}

.thumbnails {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border-radius: 10px 10px 0px 0px; */
}

.responsive-image {
  max-width: 100%;
  /* width: 242px;
  height: 200px; */
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.cell img {
    display: block;
}

.cell {
    margin: 1rem;
}
